body {
  margin: 0px;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  background-size: cover;
  background-position: center center;
  position: relative;
}

.vent-btn {
  position: absolute;
  width: 81px;
  height: 51px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: url('./vent.png');
  background-size: cover;
  background-position: center center;
}

.vent-btn:hover {
  background-image: url('./vent_hover.png');
}

select,option {
  background-color: black;
  color: white;
  outline: none;
}

#id0 {
  left: 61%;
  top: 27%;
}

#id1 {
  left: 31.8%;
  top: 47%;
}

#id2 {
  left: 19%;
  top: 16.5%;
}

#id3 {
  left: 25.5%;
  top: 53%;
}

#id4 {
  left: 6%;
  top: 37%;
}

#id5 {
  left: 9%;
  top: 53%;
}

#id6 {
  left: 18.5%;
  top: 77.5%;
}

#id7 {
  left: 33%;
  top: 56%;
}

#id8 {
  left: 72%;
  top: 81%;
}

#id9 {
  left: 73.5%;
  top: 49.5%;
}

#id10 {
  left: 88%;
  top: 50%;
}

#id11 {
  left: 87.6%;
  top: 37.3%;
}

#id12 {
  left: 71%;
  top: 13.5%;
}

#id13 {
  left: 59%;
  top: 64%;
}

#id14 {
  left: 22%;
  top: 72%;
}

#id15 {
  left: 60%;
  top: 86%;
}

#id16 {
  left: 41%;
  top: 77%;
}

#id17 {
  left: 44%;
  top: 71%;
}

#id18 {
  left: 35%;
  top: 46%;
}

#id19 {
  left: 51%;
  top: 37%;
}

#id20 {
  left: 57%;
  top: 20%;
}

#id21 {
  left: 70%;
  top: 25%;
}

#id22 {
  left: 64%;
  top: 6%;
}

#id23 {
  left: 73%;
  top: 59%;
}

#id24 {
  left: 73%;
  top: 87%;
}

#id25 {
  left: 14%;
  top: 37%;
}

#id26 {
  left: 14%;
  top: 59%;
}

#id27 {
  left: 23%;
  top: 55%;
}

#id28 {
  left: 28%;
  top: 30%;
}

#id29 {
  left: 53%;
  top: 35%;
}

#id30 {
  left: 50%;
  top: 48%;
}

#id31 {
  left: 33%;
  top: 69%;
}

#id32 {
  left: 40%;
  top: 71%;
}

#id33 {
  left: 44%;
  top: 87%;
}

#id34 {
  left: 48%;
  top: 90%;
}

#id35 {
  left: 68%;
  top: 46%;
}

#id36 {
  left: 73%;
  top: 38%;
}

#ing {
  background: rgb(245, 245, 245);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(20, 20, 20);
  font-size: 2em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2;
}

.hide {
  opacity: 0;
  pointer-events: none;
}
